
.registration-form-container {
    height: 70vh;
}

.registration-form {
    margin: 0 auto;
    width: 15rem;
}

.registration-form .form-label {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-family: 'Noto Sans Mono', monospace;
}

.registration-form button {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 900;
    width: 50%;
}
