
.message-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-bottom: 2rem; */
    /* width: 75vw; */
    overflow: hidden;
    background-color: #36393F;
}
.new-message-container form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* margin: 2rem 0.75rem; */

}

.submit-message-btn {
    background-color: transparent;
    color: #24AB6D;
    border: 1px solid #24AB6D;
    /* width: 9vw; */
    height: 2rem;
    padding: 0.1rem;
    /* margin: 0rem 0rem 0rem 1vw; */
}
.submit-message-btn:hover {
    background-color: transparent;
    border-color: white;
}

.enter-message-input {
    height: 2rem;
    /* width: 55vw; */
}

.not-in-chatroom-heading {
    color: tomato;
    position: relative;
    bottom: 40vh;
    left: 5vw;
    font-size: 1.75rem;
    font-family: "Noto Mono Sans", monospace;
}