.message-bubble, .message-bubble-editing {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
    position: relative;
    background: transparent;
    border-radius: 0.4em;
	color: white;
	margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 1rem;
    width: 65vw;
	text-align: left;
	border-radius: 0;
}

.message-bubble:hover, .message-bubble-editing:hover {
    background: #2F3136;
}

.message-bubble-editing {
	background-color: #2F3136;
}


.message-bubble input[type='textarea'], .message-bubble-editing input[type='textarea'] {
	border: none;
	width: 90%;
	background-color: transparent;
	color: white;
}

.message-icon-container {
	position: relative;
	bottom: 10px;
	right: 7.5px;
	display: flex;
	justify-content: flex-end;
}

.message-icon-container button {
	height: 20px;
	width: 20px;
	font-size: 1.05rem;
	background-color: transparent;
	border: none;
	color:gray;
}

.message-submit-edit-btn:hover {
    color: greenyellow;
}

.message-edit-btn:hover {
    color: goldenrod;
}

.message-close-btn:hover {
    color: #91171f;
}

.message-content-container {
	display: flex;
	flex-direction: column;
}

.message-content-author {
	color: goldenrod;
}