

.chatroom-btn {
    display: flex;
    justify-content: space-between;
    width: 13rem;
    overflow: hidden;
    border: none;
    text-align: left;
    padding: 0.15rem 0.5rem;
    font-weight: 600;
}

.chatroom-close-btn {
    position: relative;
    bottom: 3px;
    border: none;
    background-color: transparent;
    padding: 0;
    color: rgb(95, 167, 95);
}

.chatroom-close-btn:hover {
    color: white;
} 

