

.login-container {
    width: 15rem;
    margin: 0 auto;
}

.login-container label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: Noto Sans Mono;
}

.submit-login-btn {
    font-family: Noto Sans Mono;
    font-weight: 900;
    width: 6rem;
    margin-top: 0.5rem;
}

.submit-login-btn:hover {
    background-color: white;
    border: 1px solid #04aa6d;
    color: green;
}

.login-back-btn {
    position: relative;
    right: 115px;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

.login-back-btn:hover {
    color: #04aa6d
}
